@charset "UTF-8";

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;
    background-color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
}

header > h1 {
    color: white;
    text-align: center;
    margin: 20px;
}

section {
    background-color: white;
    width: 80vw;
    height: max-content;

    margin: auto;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.337);
}

section > div#texto {
    padding: 10px 0px 0px 10px;
}

section > div#res {
    padding-left: 10px;
    padding-bottom: 5px;
    border-radius: 50%;
}

footer > p {
    text-align: center;
    color: white;
    margin-top: 30px;
    font-style: italic;
}
